body {
    margin: 0;
    border: 5px red solid;
}

img {
    max-width: 100%;
}

img#responsive {
    display: none;
}

@media screen and (max-width: 768px) {
    img#reponsive {
        display: block;
    }
}